version: '3'
volumes:
  # todos containers que precisam de persistencia de dados devem ter um vomule configurado
  alerts-publisher:
  broker:
  database:
  data-processing-api:
  iot-api:
  iot-subscriber:
  measurements-publisher:
  web:
  web-api:
networks:
  # todas redes precisam ser declaradas
  # alerts: essa rede será implementada em trabalhos futuros
  database:
  dataprocessing:
    ipam:
      config:
        - subnet: 172.21.0.0/24
  iot:
    ipam:
      config:
        - subnet: 172.20.0.0/24
  web:
    # driver:
services:
  web:
    image: nginx:1.13
    volumes:
      # Site
      - ./web:/usr/share/nginx/html
      # Configuração do proxy reverso
      - ./web/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      # Estou usando o 8080 temporáriamente, pois meu IIS está na porta 80
      - 8080:80
    networks:
      - web
    depends_on:
      - web-api
  database:
    image: postgres:12.0-alpine
    volumes:
      #Volume dos dados
      - database:/var/lib/postgresql/data
      #Scripts
      - ./data-base/scripts:/docker-entrypoint-initdb.d
    environment:
      # - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_PASSWORD=pK9mE9csuUpFoezBlXh3
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    ports:
      - 5432:5432
    networks:
      - database
  web-api:
    image: python:3.6
    volumes:
      #Aplicação Web
      - ./apis/web-api:/web-api
    working_dir: /web-api
    command: bash ./web-api.sh
    networks:
      - database
      - dataprocessing
      - web
    depends_on:
      - database
    environment:
      - DB_HOST=database
      - DB_USER=smartcare
      - DB_PASS=820cfb9bb413498ae07941b7bac0582b
      - DB_NAME=smartcare_db
  broker:
    image: eclipse-mosquitto:1.6.15
    # volumes:
    #   - ./iot/mosquitto:/mosquitto
    working_dir: /mosquitto
    ports:
      - 1883:1883
    networks:
      - iot
  iot-api:
    image: python:3.6
    volumes:
      - ./apis/iot-api:/iot-api
    working_dir: /iot-api
    command: bash ./iot-api.sh
    networks:
      database:
      iot:
        ipv4_address: 172.20.0.5
    ports:
      - 8082:8082
    depends_on:
      - database
    environment:
      - DB_HOST=database
      - DB_USER=smartcare
      - DB_PASS=820cfb9bb413498ae07941b7bac0582b
      - DB_NAME=smartcare_db
  iot-subscriber:
    image: python:3.6
    volumes:
      - ./iot/iot-subscriber:/iot-subscriber
    working_dir: /iot-subscriber
    command: bash ./iot-subscriber.sh
    networks:
      - iot
    depends_on:
      - broker
      - iot-api
  measurements-publisher:
    image: python:3.6
    volumes:
      - ./iot/measurements-publisher:/measurements-publisher
    working_dir: /measurements-publisher
    command: bash ./measurements-publisher.sh
    networks:
      - iot
    depends_on:
      - broker
      - iot-api
  alerts-publisher:
    image: python:3.6
    volumes:
      - ./iot/alerts-publisher:/alerts-publisher
    working_dir: /alerts-publisher
    command: bash ./alerts-publisher.sh
    networks:
      - iot
    depends_on:
      - broker
      - iot-api
  data-processing-api:
    image: python:3.6
    volumes:
      - ./apis/data-processing-api:/data-processing-api
    working_dir: /data-processing-api
    command: bash ./data-processing-api.sh
    networks:
      database:
      dataprocessing:
        ipv4_address: 172.21.0.6
    ports:
      - 8083:8083
    depends_on:
      - database
    environment:
      - DB_HOST=database
      - DB_USER=smartcare
      - DB_PASS=820cfb9bb413498ae07941b7bac0582b
      - DB_NAME=smartcare_db
  data-fusion:
    image: python:3.6
    volumes:
      - ./data-processing/data-fusion:/data-fusion
    working_dir: /data-fusion
    command: bash ./data-fusion.sh
    networks:
      dataprocessing:
        ipv4_address: 172.21.0.7
    ports:
      - 5000:5000
    depends_on:
      - data-processing-api